
<% @page_title = "店内紹介" %>
<h2><%= @page_title %></h2>
<p><%= image_tag("base.png", alt: "map") %></p>
<p>
  当店は、完全予約制です。
  また、お選びいただいたコースによって、自由に選べる席が増えます。
</p>
<ul>
  <li>なお、当店は全面禁煙となっております。</li>
</ul>
